/* css cua them brand w3c*/


/* reset css!*/
*{
    padding: 0PX;
    margin: 0px;
    box-sizing: border-box;
}

/* css chung cho toan theme*/
html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
}

.main{
    width: 100%;
}
.btn{
    padding: 0px 24px;
}
.left{
    float: left;
}
.right{
    float: right;
}
/*header css*/
nav{
    width: 100%;
    height: 50px;
    background: #000;
}
.navbar{
    list-style-type: none;
}
.navbar-item{
    display: inline-block;
    position: relative;
    height: 50px;
}
.navbar-item-link{
    display: block;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    padding: 0px 16px;
    line-height: 50px;
    cursor: pointer;
    transition: all .25s linear;
}
.navbar-item-link:hover{
    color: #333;
    background-color: #ccc;
}
.btn-search{
    display: block;
    height: 100%;
    line-height: 46px;
    background-color: #000;
    color: #fff;
    font-size: 20px;
    transition: all .25s linear;
    cursor: pointer;
}
.btn-search:hover{
    background-color: rgb(222, 14, 14);
}
.dropdown{
    display: none;
    list-style-type: none;
    background: #fff;
    position: absolute;
    top: 50px;   
    transition: all .25s linear;
    width: 160px;
}
.navbar-item:hover .dropdown{
    display: block;
}
.dropdown-item{
    display: block;
}
.dropdown-item-link{
    color: #333;
    display: block;
    text-align: left;
    padding: 0px 8px;
    line-height: 50px;
    text-decoration: none;
    text-transform: capitalize;
    font-weight: 500;
    transition: all .25s linear;
    cursor: pointer;
}
.dropdown-item-link:hover{
    background-color: #ccc;
}